@keyframes blink {
    0% {opacity: 1.0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}

@keyframes textShadow {
    0% {
        text-shadow: 5px 0 1px rgba(0,30,255,0.5), -6.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
        text-shadow: 9.40218538552878136px 0 1px rgba(0,30,255,0.5), -8.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
        text-shadow: 13.7015590085143956px 0 1px rgba(0,30,255,0.5), -11.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
        text-shadow: 15.231056963361899px 0 1px rgba(0,30,255,0.5), -12.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
        text-shadow: 13.202193051050636px 0 1px rgba(0,30,255,0.5), -11.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
        text-shadow: 9.8948491305757957px 0 1px rgba(0,30,255,0.5), -8.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
        text-shadow: 5.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
        text-shadow: 3.6208764473832513px 0 1px rgba(0,30,255,0.5), -0.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

@keyframes scanline {
    0% {
        inset-block-end: 100%;
    }
    80% {
        inset-block-end: 100%;
    }
    100% {
        inset-block-end: 0%;
    }
}

body {
    background-color: rgba(41,67,121,255);
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}


nav {
    background-color: #0f0d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
}

nav img {
    block-size: 100px;
    margin-inline-end: 10px;
    border-radius: 20px;
}

nav ul {
  animation: textShadow 1.6s infinite;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', serif;
  font-size: 48px;
  font-weight: bold;
  color: #bed4f7;
  border-radius: 20px;
}

nav bd { 
    border: 5px;
}

nav li {
    margin-inline-end: 45px;
    color: #bed4f7;
}

nav input[type="text"] {
    border-radius: 15px;
    border: 5px;
    padding: 15px;
    inline-size: 100px;
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 2px;
    z-index: 2;
    pointer-events: none;
}

textarea{
    width: 800px;
    height: 200px;
    color: #000;
}


.pic-ctn {
    display: flex;
    flex-wrap: wrap;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    
    height: 200px;
    
  }
  
  .pic {
      max-width: 600px;
      max-height: 400px;
  }
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(30% - 100px);
    opacity: 0;
    animation: display 20s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 9s;
  }
  img:nth-child(3) {
    animation-delay: 12s;
  }
  img:nth-child(4) {
    animation-delay: 15s;
  }
  img:nth-child(5) {
    animation-delay: 18s;
  }


.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: hsl(248, 38%, 8%, 0.8);
    
  }

.content {
    width: 100vw;
    height: 100vh;
    border: 1px solid #0f0d1d;
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
}


  
#row {
    display: flex;
    flex-direction: row;
    background-color: #0f0d1d;
}



#main {
    width: 100%;
}

#c {
    width: 400px;
    height: 300px;
    display: block;
  }
#crt:before {
    content: " ";
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 6px;
    z-index: 2;
    pointer-events: none;
}

.flexgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.justify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}



.button2 {
    inline-size: 70px; 
    block-size: auto;
    border-radius: 15px;
    transform: rotate(360deg);
    padding: 0;
}



.simbolos {
    border: none;
    padding: 0;
    inline-size: 70px; 
    block-size: auto;
    border-radius: 15px;
    
}


  .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
.nav-button {
            
            animation-name: blink;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            font-family: 'Oxanium', serif;
            color: #bed4f7;
            border-radius: 20px;
            font-size: 48px;
            font-weight: bold;
            background-color: #0f0d1d;
        }

.scanline {
    inline-size: 100%;
    block-size: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.3;
    position: absolute;
    inset-block-end: 100%;
    animation: scanline 5s linear infinite;
}

.ctrb {
    animation: textShadow 1.6s infinite;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    grid-gap: 15px;
    border-radius: 15px;
    margin-inline-start: 15px;
}



